DevFramework.Northwind.WebUI/log4net.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="configuration">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="configSections">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="section">
								<xs:complexType>
									<xs:attribute name="name" type="xs:string" use="required" />
									<xs:attribute name="type" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="log4net">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="appender">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" name="bufferSize">
											<xs:complexType>
												<xs:attribute name="value" type="xs:unsignedByte" use="required" />
											</xs:complexType>
										</xs:element>
										<xs:element minOccurs="0" name="connectionType">
											<xs:complexType>
												<xs:attribute name="value" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
										<xs:element minOccurs="0" name="connectionString">
											<xs:complexType>
												<xs:attribute name="value" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
										<xs:element minOccurs="0" name="commandText">
											<xs:complexType>
												<xs:attribute name="value" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
										<xs:element minOccurs="0" maxOccurs="unbounded" name="parameter">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="parameterName">
														<xs:complexType>
															<xs:attribute name="value" type="xs:string" use="required" />
														</xs:complexType>
													</xs:element>
													<xs:element name="dbType">
														<xs:complexType>
															<xs:attribute name="value" type="xs:string" use="required" />
														</xs:complexType>
													</xs:element>
													<xs:element minOccurs="0" name="size">
														<xs:complexType>
															<xs:attribute name="value" type="xs:unsignedShort" use="required" />
														</xs:complexType>
													</xs:element>
													<xs:element name="layout">
														<xs:complexType>
															<xs:attribute name="type" type="xs:string" use="required" />
															<xs:attribute name="value" type="xs:string" use="optional" />
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element minOccurs="0" name="file">
											<xs:complexType>
												<xs:attribute name="value" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
										<xs:element minOccurs="0" name="layout">
											<xs:complexType>
												<xs:attribute name="type" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="name" type="xs:string" use="required" />
									<xs:attribute name="type" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
							<xs:element name="logger">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="level">
											<xs:complexType>
												<xs:attribute name="value" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
										<xs:element name="appender-ref">
											<xs:complexType>
												<xs:attribute name="ref" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="name" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>